<%- include("../partials/header.ejs") %>
<%- include("./adminBar.ejs") %>

<div class="container">
<h2>Home</h2>
<p>Welcome to the admin home page!<br> This page is under visual development. But the remainder of the panel works completely.</p>
</div>

<%- include("../partials/footer.ejs") %>