<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/availablePuppies" class="nav-link px-2 text-body-secondary">Available Puppies</a></li>
        <li class="nav-item"><a href="/parents" class="nav-link px-2 text-body-secondary">Parents</a></li>
        <li class="nav-item"><a href="/deposit" class="nav-link px-2 text-body-secondary">Deposit</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
        <li class="nav-item"><a href="/admin" class="nav-link px-2 text-body-secondary">Admin</a></li>
      </ul>
      <p class="text-center text-body-secondary">© <%= new Date().getFullYear() %> Homestead Puppies</p>
    </footer>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>