<div class="col">
    <div class="card">
      <h3>{Puppy Name}</h3>
      <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
      <div class="card-body">
        <button type="button" class="btn btn-outline-info">{Breed}</button>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Gender: {Gender}</li>
          <li class="list-group-item">Age: {Age}</li>
          <li class="list-group-item">Price: {Price}</li>
          <li class="list-group-item">Mother: <button type="button" class="btn">{Mother}</button></li>
          <li class="list-group-item">Father: <button type="button" class="btn">{Father}</button></li></li>
          </ul>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">{Statement About Bringing Me Home}</button>
          </div>
      </div>
    </div>
  </div>