<%- include('./partials/header.ejs'); %>

<div class="container pt-5 col-md-8">
    <form action="https://api.web3forms.com/submit" method="post" class="container col-lg-8">
        <input type="hidden" name="access_key" value="94644638-c25e-41d2-b8b2-b457a2d2503a">
        <input type="hidden" name="redirect" value="https://homestead-puppies.com/success">

        <div class="mb-3">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Your Name:</label>
                <input type="text" class="form-control" id="nameInput" name="Name" required>
            </div>

            <div class="mb-3">
                <label for="emailInput" class="form-label">Email Address:</label>
                <input type="email" class="form-control" id="emailInput" name="Email" required>
            </div>

            <div class="mb-3">
                <label for="phoneInput" class="form-label">Phone Number (Optional):</label>
                <input type="text" class="form-control" id="phoneInput" name="Phone">
            </div>

            <div class="mb-3">
                <label for="queryInput" class="form-label">Your Message To Us (Optional):</label>
                <textarea class="form-control" id="queryInput" rows="3" name="Message"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>

<%- include('./partials/footer.ejs'); %>