<%- include('./partials/header.ejs'); %>
<div class="container">
    <div class="px-4 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Homestead Puppies</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Over five years ago, I discovered a calling in caring for puppies—a passion that
                fills each day with purpose and joy. At Homestead Puppies, I pour my heart into ensuring every
                little bundle of joy receives the love, attention, and early socialization they need to flourish.
                <br><br> I specialize in raising Cavalier King Charles Spaniels, Shih Tzus, Dachshunds, and Golden
                Retrievers. Additionally, I’m proud to be one of the few breeders exclusively dedicated to the
                unique Obsidian Retrievers—a breed celebrated for its distinctive beauty and gentle nature. <br><br>
                Each day, I carefully select our breeding pairs to ensure that every puppy inherits the best traits
                of its breed. Seeing them thrive and eventually become cherished family members is the most
                rewarding part of my work. <br><br> Thank you for considering Homestead Puppies. I look forward to
                helping you welcome a new furry friend into your home!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs'); %>