<%- include('./partials/header.ejs'); %>

    <div class="container text-center">
        <div class="container py-5">
        <h2>Thank You For Your Submission! <br>We Will Contact You Shortly </h2>
    </div>
    </div>

    <%- include('./partials/footer.ejs'); %>