body{
    font-family: "Montserrat", serif ;
}

.admin-bar{
    background-color: #0dcaf0 !important;
}

.header-logo{
    width: 60px;
}

.header-container{
    flex-direction: row-reverse;
}

#navbars-links{
    flex-direction: row-reverse;
    align-content: center;
}

.nav-link{
    color:black;
}

.puppy-card{
    border:solid;
}

.card-body > .btn{
    font-weight: 900;
}

.card h3{
    padding-top: 4px;
}

.list-group .btn{
    --bs-btn-padding-y: 0;
    color: #0dcaf0;
    font-weight: 500;
    border-top-width: 0;
}

.list-group-item{
    padding: 3px;
}

.puppy-card img{
    border: solid;
    max-width: 100%;
}

@media (min-width: 992px){
    .mobile-text{
        visibility: hidden;
        width: 0;
    }
}